table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
}
th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.barra {
    background-color: #f0f0f0;
}
.bar {
    display: inline-block;
    background-color: #4CAF50;
    width: 10px;
    height: 15px;
    margin-right: 2px;
    border-radius: 2px;
}