body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    animation: changeColor 10s infinite alternate;
    border: 30px solid;
}

@keyframes changeColor {
    0% {
        border-color: rgb(33, 203, 255);
    }
    25% {
        border-color: rgb(255, 0, 0);
    }
    50% {
        border-color: rgb(0, 255, 0);
    }
    75% {
        border-color: rgb(0, 0, 255);
    }
    100% {
        border-color: rgb(33, 203, 255);
    }
}

h1 {
    text-align: center;
    
}

form {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(33, 203, 255);
    border-radius: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(33, 203, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkblue;
}

/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para las celdas de encabezado */
  table th {
    background-color: rgb(33, 203, 255); /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 12px 15px; /* Espaciado interno del encabezado */
    text-align: left; /* Alineación del texto del encabezado */
    border-bottom: 2px solid #ddd; /* Borde inferior */
  }
  
  /* Estilos para las celdas de datos */
  table td {
    padding: 10px 15px; /* Espaciado interno de las celdas de datos */
    border-bottom: 1px solid #ddd; /* Borde inferior */
  }
  
  /* Estilos para las filas pares */
  table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para las filas pares */
  }
  
  /* Estilos al pasar el ratón sobre la tabla */
  table tbody tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el ratón */
  }
  