body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    animation: changeColor 10s infinite alternate;
    border: 30px solid;
    border-color: rgb(33, 203, 255);
}


form {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
p {
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}